<h2>Submit AJAX Data v7</h2>

<div id="name">
    <label for="name">Name</label>
    <input type="text" name="name" placeholder="Your name">
</div>

<div id="email">
    <label for="email">Email</label>
    <input type="text" name="email" placeholder="Your email">
</div>

<div id="phone">
    <label for="email">Phone</label>
    <input type="text" name="phone" placeholder="Your phone">
</div>

<button id="sendButtopn">Create a User</button>

<div id="output"></div>
